<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read(One)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-secondary">
    <div class="container mt-4 bg-light border rounded p-4">
        <h1 class="text-primary display-4">TV Show {{number}}</h1>
        <p><span class="text-info text-3">Title:</span> {{display_show.title}}</p>
        <p><span class="text-info">Network:</span> {{display_show.network.name}}</p>
        <p><span class="text-info">Release Date:</span> {{display_show.release_date}}</p>
        <p><span class="text-info">Description:</span> {{display_show.desc}}</p>
        <p><span class="text-info">Last Updated:</span> {{display_show.updated_at}}</p>
        <a class="btn btn-dark text-light pr-2" role="button" href="/shows">Go Back</a>
            <a class="btn btn-dark text-light px-2" role="button" href="edit">Edit</a>
            <form class="d-inline-block" action="destroy" method="POST">
                {% csrf_token %}
                <button class="text-light btn btn-dark" type="submit">Delete</button>
            </form>
        
    </div>
</body>
</html>